*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.menu {
  width: 250px;
  min-height: 100vh;
  background-color: #e4e1e1;
  padding: 80px 0 8px 4px;
  color: #4e4e4e;
}

.content {
  position: relative;
  padding: 8px 0 8px 16px;
  cursor: pointer;
  border-radius: 20px 0 0 20px;
  /* transition: background-color 300ms; */
  
}

.content.active {
  background-color: #fafafa;
  color: #838080;
}

.content.active b:nth-child(1) {
  display: block;
  
}
.content.active b:nth-child(2) {
  display: block;
  
}

.content b:nth-child(1) {
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  display: none;
  transition: display 300ms;
}

.content b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #e4e1e1;
  border-bottom-right-radius: 20px;
}

.content b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  display: none;
  transition: display 300ms;
}

.content b:nth-child(2)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #e4e1e1;
  border-top-right-radius: 20px;
}

.content i {
  margin-right: 8px;
}

.content:hover {
  /* background-color: #fafafa; */
  color: #838080;
  
}

/* .content:hover b:nth-child(1)  {
  display: block;
  
  
}

.content:hover b:nth-child(2)  {
  display: block;
  
} */

#context-menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background-color: #2a2a2a;
  border-radius: 4px;
  border: 1px solid #2a2a2a;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  transform: scale(0);
  transform-origin: top left;
}

#context-menu.active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu #item-title {
  display: inline-block;
  width: 100%;
  color: #b1afaf;
  text-align: center;
  
  font-size: 12px;
}

#context-menu #context-menu-title {
  display: inline-block;
  width: 100%;
  color: #fafafa;
  text-align: center;
  margin: 8px 0 0;
  font-size: 18px;
}

#context-menu hr {
  border-color: #474747;
  margin: 2px 0;
}

#context-menu .item {
  color: #f8f8f8;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: 200ms ease-in-out;
  list-style: none;
}

#context-menu .item:hover {
  color: #2a2a2a;
  background-color: #f8f8f8;
}

#context-menu .item i {
  margin-right: 8px;
}